* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, .banner, footer {
    background-color: #1F2937;
}

.bannercontent, ul, button, 
footer {
    color: #E5E7EB;
}

.header, .callaction, .actioncontent,
.bannertop {
    color: #F9FaF8;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    width: 100px;
    padding: 4px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.header {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.bannertop {
    font-size: 48px;
    font-weight: bolder;
}

.herobanner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
}

.contentinfo {
    margin-top: 16px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.infohead {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info {
    display: flex;
    gap: 40px;
}

.info img {
    border: #3882F6 3px solid;
    border-radius: 10px;
    max-width: 150px;
    max-height: 150px;
}

.text {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.quotecontainer {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    height: 400px;
}

.quote {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thorquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.cite {
    align-self: flex-end;
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
}

.actionarea {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callaction {
    background-color: #3882F6;
    padding: 20px 50px;
    max-height: 150px;
    width: 700px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.actionbody {

}

.actionhead {
    font-weight: bold;
    margin-bottom: 0px;
}

.actioncontent {
    margin-top: 2px;
}

.actionbutton {
    max-height: 30px;
    align-self: center;
}

footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}